<!-- <h1>This for add user</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="id">Username</label>
    <input id="id" formControlName="id" hidden>
  </div>

  <div>
    <label for="username">Username</label>
    <input id="username" formControlName="username">
  </div>

  <div>
    <label for="age">Age</label>
    <input id="age" type="number" formControlName="age">
  </div>

  <div>
    <label for="cin">CIN</label>
    <input id="cin" formControlName="cin">
  </div>

  <div>
    <label for="genre">Genre</label>
    <input id="genre" formControlName="genre">
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
  </div>

  <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form> -->
<div class="session">
  <div class="left">
    <svg enable-background="new 0 0 300 302.5" version="1.1" viewBox="0 0 300 302.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
      <path fill="#fff" d="m126 302.2c-2.3 0.7-5.7 0.2-7.7-1.2l-105-71.6c-2-1.3-3.7-4.4-3.9-6.7l-9.4-126.7c-0.2-2.4 1.1-5.6 2.8-7.2l93.2-86.4c1.7-1.6 5.1-2.6 7.4-2.3l125.6 18.9c2.3 0.4 5.2 2.3 6.4 4.4l63.5 110.1c1.2 2 1.4 5.5 0.6 7.7l-46.4 118.3c-0.9 2.2-3.4 4.6-5.7 5.3l-121.4 37.4zm63.4-102.7c2.3-0.7 4.8-3.1 5.7-5.3l19.9-50.8c0.9-2.2 0.6-5.7-0.6-7.7l-27.3-47.3c-1.2-2-4.1-4-6.4-4.4l-53.9-8c-2.3-0.4-5.7 0.7-7.4 2.3l-40 37.1c-1.7 1.6-3 4.9-2.8 7.2l4.1 54.4c0.2 2.4 1.9 5.4 3.9 6.7l45.1 30.8c2 1.3 5.4 1.9 7.7 1.2l52-16.2z"/>
    </svg>      
  </div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="log-in" autocomplete="off">
    <h4>We are <span>E-BANK</span></h4>
    <div class="floating-label" style="display: none;">
      <input placeholder="id" id="id" formControlName="id" type="hidden" autocomplete="off">
      <label for="id">ID:</label>
      <div class="icon">
        <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
          <path d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z"/>
        </svg>
      </div>
    </div>
    
    <div class="floating-label">
      <input placeholder="Username" id="username" formControlName="username" autocomplete="off">
      <label for="username">Username:</label>
      <div class="icon">
        <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
          <path d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z"/>
        </svg>
      </div>
    </div>

    <div class="floating-label">
      <input placeholder="Age" id="age" type="number" formControlName="age" autocomplete="off">
      <label for="age">Age:</label>
      <div class="icon">
        <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
          <path d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z"/>
        </svg>
      </div>
    </div>

    <div class="floating-label">
      <input placeholder="CIN" id="cin" formControlName="cin" autocomplete="off">
      <label for="cin">CIN:</label>
      <div class="icon">
        <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
          <path d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z"/>
        </svg>
      </div>
    </div>

    <div class="floating-label">
      <input placeholder="Genre" id="genre" formControlName="genre" autocomplete="off">
      <label for="genre">Genre:</label>
      <div class="icon">
        <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
          <path d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z"/>
        </svg>
      </div>
    </div>

    <div class="floating-label">
      <input placeholder="Password" id="password" type="password" formControlName="password" autocomplete="off">
      <label for="password">Password:</label>
      <div class="icon">
        <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
          <path d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z"/>
        </svg>
      </div>
    </div>

    <button type="submit">Sign up</button>
  </form>
</div>