<div class="nav">
    <div class="title">
        <h1>DASHBOARD</h1>
    </div>
    <div class="content">
        <div class="img">
            <img src="../../assets/icons/bell (1).png" alt="">
        </div>
        <form class="content-search">
            <input type="text" id="search" placeholder="Search by">
            <button id="search-btn"><img src="../../assets/icons/search (1).png" alt="search"></button>
        </form>
        <div class="profile">
            <img src="" alt="">
        </div>
    </div>
</div>