<div class="main">
    <div class="header">
      <div class="heade">
          <img src="../../assets/images/green minimalist online wallet logo.png" alt="">
      </div>
    </div>
    <div class="hero-main ">  
      <app-login></app-login>
    </div>
       <!-- <app-add-user></app-add-user> -->
</div>

<!-- 
<div class="left">
<div class="flower">
<div class="btns"> -->
  <!-- <button class="login" mat-raised-button (click)="openDialog('3000ms', '1500ms')">Login</button> -->
<!-- </div>
</div>
</div> -->