.main{
    width: 100%;
    height: 100vh;
    background: url("../../assets/images/5443270.jpg") no-repeat top right/cover;
}
.header{
    width: 90%;
    padding: 10px 80px;
    background: rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(10px);
    margin: 0 auto;
}
.header > .heade{
    width: 120px;
}
.header > .heade > img{
    width: 100%;
}
.hero-main{
    width: 100%;
    height: 80%;
    background-image: url("../../assets/images/ok.png");
    background-size: cover;
    display: flex;
    align-items: end;
}
.left{
      width: 60%;
}
.flower{
  width: 90%;
  height: 180px;
  background: rgba(255, 255, 255, 0.258);
  backdrop-filter: blur(4px);
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  display: flex;
  align-items: start;
  justify-content: end;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}
.flower > img{
    width: 300px;
    margin-top: -60px;
}
