*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-secondary : #252525;
    --background-primary :#1F1F1F;
    --color-dark :#3b3b3b;
    --color-light :#FFF;
    --color-link :#eeecec;
    --color-bleuvoilet :#784FAB;
}
body{
    width: 100%;
    height: 100vh;
    background: var(--background-primary);
}