.main{
    width: 100%;
    height: 100vh;
}
.main-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.side{
    width: 79%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.content-left{
    width: 65%;
    height: 100%;
}
.content-right{
    width: 34%;
    height: 100%;
}
.cardBank{
    width: 98%;
    padding: 10px;
    border-radius: 20px;
    background: var(--color-secondary);
}
.account-info{
    margin-top:10px;
    width: 98%;
    padding: 10px;
    border-radius: 20px;
    background: var(--color-secondary);
}