<section class="main">
   <div class="main-wrapper">
     <app-header></app-header>
     <div class="side">
        <app-nav></app-nav>
        <div class="content">
          <div class="content-left">
            <div class="transaction">
              <div class="transaction-header">
                <h1>TRANSACTION</h1>
                <button (click)="onOpenOrClose(true)">add transaction</button>
              </div>
              <app-transaction></app-transaction>
            </div>
            <div class="beneficier">
              <div class="transaction-header">
                <h1>BENEFICIER</h1>
                <button (click)="onOpenOrCloseBeneficier(true)">Add Beneficier</button>
              </div>
              <app-beneficier></app-beneficier>
            </div>
          </div>
          <div class="content-right">
            <div class="cardBank">
              <app-carte-bancaire></app-carte-bancaire>
            </div>
            <div class="account-info">
              <app-account></app-account>
            </div>
          </div>
        </div>
     </div>
   </div>
</section>

<section class="popup" [ngStyle]="{'display': check ? 'flex' : 'none'}">
  <button (click)="onOpenOrClose(false)">Close</button>
  <app-add-transaction></app-add-transaction>
</section>

<section class="popup" [ngStyle]="{'display': check1 ? 'flex' : 'none'}">
  <button (click)="onOpenOrCloseBeneficier(false)">Close</button>
</section>