.main{
    width: 100%;
    height: 100vh;
}
.main-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.side{
    width: 79%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.content-left{
    width: 65%;
    height: 100%;
}
.content-right{
    width: 34%;
    height: 100%;
}
.cardBank{
    width: 98%;
    padding: 10px;
    border-radius: 20px;
    background: var(--color-secondary);
}
.account-info{
    margin-top:10px;
    width: 98%;
    padding: 10px;
    border-radius: 20px;
    background: var(--color-secondary);
}
.transaction{
    width: 98%;
    padding: 10px;
    background: var(--color-secondary);
    border-radius: 20px;
}
.beneficier{
    width: 98%;
    padding: 10px;
    background: var(--color-secondary);
    border-radius: 20px;
    margin: 5px 0 ;
}
.transaction-header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
}
.transaction-header > h1 {
    font-size: 16px;
    font-weight: 900;
    color: var(--color-light);
    display: flex;
    align-items: center;
}
.transaction-header > button{
    background: var(--background-primary);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    color: var(--color-light);
    font-size: 12px;
    font-weight: 700;
    transition: .3s;
}
.transaction-header > button:hover{
    background:black;
}
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.148);
    backdrop-filter: blur(10px);
    z-index: 9999;
    align-items: center;
    justify-content: center;
  }
  
  .popup > button {
    position: absolute;
    top: 50px;
    right: 50px;
    border: none;
    border-radius: 12px;
    background: var(--color-light);
    padding: 10px 14px;
    color: black;
    transition: .4s;
    cursor: pointer;
  }
  
  .popup > button:hover {
    background: black;
    color: var(--color-light);
  }
  