<section class="main">
   <div class="main-wrapper">
     <app-header></app-header>
     <div class="side">
        <app-nav></app-nav>
        <div class="content">
          <div class="content-left">
            <div class="transaction">
              <div class="transaction-header">
                <h1>TRANSACTION</h1>
                <button>add transaction</button>
              </div>
              <app-transaction></app-transaction>
            </div>
            <div class="beneficier">
              <app-beneficier></app-beneficier>
            </div>
          </div>
          <div class="content-right">
            <div class="cardBank">
              <app-carte-bancaire></app-carte-bancaire>
            </div>
            <div class="account-info">
              <app-account></app-account>
            </div>
          </div>
        </div>
     </div>
   </div>
</section>

