<div class="transaction-container">
    <div class="tran-warpper">
      <div class="transaction" *ngFor="let transaction of transactionsList">
        <div class="transaction-info">
          <div class="transaction-icon">
            <img src="../../assets/icons/transaction (1).png" alt="">
          </div>
          <div class="transaction-details">
            <h2>{{ transaction.description_transaction }}</h2>
            <p>{{ transaction.transactionDate }}, {{ transaction.transactionTimer }}</p>
          </div>
        </div>
        <div class="transaction-type">
          <p>{{ transaction.type_transaction }}</p>
          <p class="transaction-category">{{ transaction.bank_transaction }}</p>
        </div>
        <div class="transaction-amount" [ngClass]="{'positive': transaction.montant > 0, 'negative': transaction.montant < 0}">
          <p>{{ transaction.montant | currency }}</p>
          <p class="transaction-status">Success</p>
        </div>
      </div>
    </div>
  </div>
  