<div class="bnf">
    
    <div class="beneficier" >
        <div class="bnf-info" *ngFor="let beneficier of BeneficierList">
            <div class="iconB">
                <img src="../../assets/icons/avatar.png" alt="">
            </div>
            <div class="info">
                <h1>{{beneficier.username}}</h1>
                <p><span>{{beneficier.account_number}}</span><em>{{beneficier.bank}}</em></p>
            </div>
            <div class="btns">
                <a [routerLink]="['/beneficier', beneficier?.id]" *ngIf="beneficier">Update</a>
                <button id="delete" (click)="deleteBeneficier(beneficier.id)">Delete</button>
            </div>
        </div>
    </div> 
       
</div>