.bnf{
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    overflow-x: auto;
}
.header > button:hover{
    background:black;
}
.beneficier{
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.bnf-info{
    display: flex;
    background: var(--background-primary);
    align-items: center;
    margin: 5px;
    padding:15px 10px;
    border-radius: 15px;
    height: 60px;
}
.iconB{
    width: 24px;
}
.iconB > img{
    width: 100%;
}
.info{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-left: 10px;
}
.info > h1{
    font-size: 12px;
    font-weight: 800;
    line-height: 5px;
    text-transform: uppercase;
    padding-top: 5px;
}
.info > p{
    font-size: 8px;
    font-weight: 300;
    color: var(--color-link);
    display: flex;
    flex-direction: column;
}
.info > p > em{
    color: #dfaaf4;
    font-style: normal;
}
.btns{
    padding: 10px;
}
.btns > button {
    padding: 5px ;
    font-size: 10px;
    color: white;
    border: 2px solid white;
    background: transparent;
    transition: .4s;
    border-radius: 10px;
    font-weight: 900;
    margin: 0 3px;
}
.btns > a {
    padding: 6px ;
    font-size: 10px;
    color: white;
    border: 2px solid white;
    background: transparent;
    transition: .4s;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 900;
    margin: 0 3px;
}
.btns > a:hover {
    background: #dfaaf4;
    color: black;
    border:  2px solid #dfaaf4;
}
.btns >button:hover{
    background: #ff4019;
    color: black;
    border:  2px solid #ff4019;
}